body {
    font-size: 14px;
    color: black;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}

a {
    font-size: 30px;
}

a:link {
    text-decoration: none;
}